*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body{
	height: 100%;
}

#logo{
	padding: 5%;
}

.encabezado{
    width: 100%;
	height: 13vh;
    background-color: #dfd3c3;
    display: flex; /*Permite ajustar los elementos dentro de un contendor*/
    justify-content: center; /* Distribuir los botones equitativamente y el logo a la izquierda*/
    align-items: center; /*Alinea verticalmente los elementos*/
    box-sizing: border-box;
}

.caja{
	display: flex;
    height: 100%;
}

.lista{
	list-style-type: none;
	height: 100%;  /* Ocupará el 100% de .caja */
    width: 15%;
    padding: 0%;
    margin: 0%;
    background-color: #dfd3c3;
	display: flex;          /* Activa Flexbox */
	flex-direction: column; /* Apila los elementos verticalmente */
	justify-content: space-evenly; /* Distribuye el espacio uniformemente */
}

.lista a{
	display: block;
	background-color: #dfd3c3;
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #8d493a;
	text-align: center;
}

.enlaces a:hover{
	background-color: #8d493a;
	color: #dfd3c3;
}

.activo a{
	display: block;
	background-color: #8d493a;
	padding: 20px;
	text-decoration: none;
	font-size: 20px;
	color: #dfd3c3;
}

.central{
	background-color: #f8ede3;
	height: 100%;  /* Misma altura que .lista */
	margin: 0%;
    width: 100%;
    float: left;
    position: relative;
	overflow-y: auto; /* Scroll si el contenido es largo */
}

.prueba{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.datos{
    display: flex;
    margin-top: 2%;
    padding: 0%;
    width: 100%;
}
.informacion {
    width: 100%;
    border-collapse: collapse;
}

.informacion td {
    padding: 15px;
}
.imagen { 
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    text-align: center;
}
.informacion img {
    max-width: 100%; /* La imagen se ajustará al tamaño de la celda sin deformarse */
    height: auto; /* Mantiene la proporción de la imagen */
}
.informacion p{
    text-align: justify;
}   
iframe{
    border: none;
    padding-left: 15%;
}
.zoom{
    width: 157px;
    height: 100px;
    position: relative;
    overflow: hidden;
   
}
.central img:hover{
    border-radius: 10%;
    transform: scale(1.2);
}
.ubi{
    max-width: 100%;
    border-collapse: collapse;
}
.central img{
    border-radius: 10%;
    padding: 3%;
    border: 2px solid #8d493a;
}
.ubi td{
    width: 100%;
}
h2{
    text-align: center;
    color: #8d493a;
}
table{
    width: 100%;
}
/*table td{
    border: 4px solid brown;
}

.central table{
    margin: auto;
    border-collapse: collapse;
    justify-content: center;
    align-items: center;
}*/
